<head>
    <link rel="icon" href="{{url_for('static', filename ='assets/imgs/faviconlogo.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/tooltip.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/custom_alert.css') }}">
    <script src="{{ url_for('static', filename='assets/js/common.js') }}"></script>
</head>
{% extends 'public/dashboard/pages/Dashboard.html' %}
{% block title %}Actualizar Cliente{% endblock %}

{% block body %}


<section>
    <h2>
        <a href="/" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i>
        </a>
        <a id="bloque-cliente">
            Actualizar Información del Cliente
        </a>
    </h2>

    {% if (dataInfo) %}
    <form action="{{ url_for('formActualizarCliente', idCliente = dataInfo.id ) }}" method="POST" class="mb-3" autocomplete="off" enctype="multipart/form-data">
        <input type="text" class="form-control" name="id" value="{{ dataInfo.id }}" required hidden>
        
        <div class="row">
            <div class="col">
                <label for="nombre">Nombre del cliente</label>
                <input type="text" name="nombre" value="{{ dataInfo.nombre }}" class="form-control">
            </div>
            <div class="col">
                <label for="apellido">Apellido del cliente</label>
                <input type="text" name="apellido" value="{{ dataInfo.apellido }}" class="form-control">
            </div>
            <div class="col">
                <label for="DNI">DNI</label>
                <input type="text" name="DNI" value="{{ dataInfo.DNI }}" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="create_at">Fecha de registro</label>
                <input type="text" name="create_at" value="{{ dataInfo.create_at }}" class="form-control">
            </div>
            <div class="col">
                <label for="Telefono">Numeros de Telefono</label>
                <input type="text" name="Telefono" value="{{ dataInfo.Telefono }}" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="tipo_caso"> Tipo de caso</label>
                <input type="text" name="tipo_caso" value="{{ dataInfo.tipo_caso }}" class="form-control">
            </div>
            <div class="col">
                <label for="c_expediente">C.expediente</label>
                <input type="text" name="c_expediente" value="{{ dataInfo.c_expediente }}" class="form-control">
            </div>

        </div>

        <div class="row">
            <div>
                <h6 style="display: inline-block; text-align: center; width: 100%; margin-bottom: 10px;">Especialidad</h6>
            </div>
            <div class="col">
                <label for="areas">Area</label>
                <select class="form-control" name="area" id="area" onchange="mostrarEnfoques()">
                {% if dataInfo.area != None %}
                <option value="{{ dataInfo.area }}">{{ dataInfo.area }}</option>
                {% endif %}
                <!--<option> area </option>-->
                <!--<option value="penal">Penal</option>
                <option value="civil">Civil</option>
                <option value="laboral">Laboral</option>-->
                {% for ar in areas.keys() %}
                    {% if ar != dataInfo.area %}
                        <option value="{{ ar }}">{{ ar }}</option>
                    {% endif %}
                {% endfor %}
                
                </select>
            </div>
            <div class="col">
                <label for="enfoque">Enfoque</label>
                <select class="form-control" name="enfoque" id="enfoque">
                    {% if dataInfo.enfoque != None %}
                    <option value="{{ dataInfo.enfoque }}">{{ dataInfo.enfoque }}</option>
                    {% endif %}
                    <option> enfoque </option>
                    {% for ar in areas[ dataInfo.area] %}
                        {% if ar != dataInfo.enfoque %}
                            <option value="{{ ar }}">{{ ar }}</option>
                        {% endif %}
                    {% endfor %}
                    
                </select>
            </div>
            <div class="col">
                <label for="abogado">Abogado</label>
                <select name="abogado" class="form-control" >
                    {% if dataInfo.abogado != None %}
                    <option>{{ dataInfo.abogado }}</option>
                    {% endif %}
                    <option>Asig. Abogado</option>
                    {% for abogado in miLawyer %}
                        {% if abogado.ABOGADOS != dataInfo.abogado %}
                        <option>{{ abogado.ABOGADOS }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            
        </div>

        <br>
        <div class="row" id="bei">
            {% set urlCliente = '/static/assets/expedientes' %}
            <div class="col-md-0">
                {% if(dataInfo.foto !="") %}
                        <img src="{{ urlCliente }}{{ dataInfo.archivo_adjunto }}" class="foto_update" alt="{{ dataInfo.marca }}">
                    {% else %}
                        <img src="{{ urlCliente }}sin_foto.jpg" class="foto_update" alt="coche">
                {% endif %}
            </div>
            <div class="col-md-6">
                <label for="foto">Cambiar Foto del expediente</label>
                <input type="file" name="archivo_adjunto" class="form-control-file" accept="/static/assets/expedientes">
            </div>
        </div>
        <hr>
        <input class="button-primary mt-3 btn btn-info btn-block bold" type="submit" value="Guardar Actualización">
    </form>

    {% else %}
    <div class="col-12">
        <h2 class="text-center">
            No existe el cliente
        </h2>
    </div>
{% endif %}

</section>

{% endblock %}